<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />

    <title>Travel App</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="user-nav">
          <div class="user-nav__icon-box"></div>
          <div class="user-nav__icon-box"></div>
          <div class="user-nav__user"></div>
        </nav>
      </header>

      <main class="hotel-view">
        <div class="overview">
          <h1 class="overview__heading">🌍 Travel App</h1>
        </div>

        <div class="detail">
          <div class="description">
            <p class="paragraph">
              This is a travel app planner developed as part of my Udacity Front
              End Nanodegree. The app uses 3 different API's to gather
              information about the location a user selects and posts results
              for the selected date.
            </p>
            <p class="paragraph">
              To gather weather information on a specific location, use the form
              on the right hand side.
            </p>
          </div>

          <div class="planner">
            <div>
              <label for="city">I am travelling to: </label>
              <input id="city" placeholder="Enter destination city here" />
            </div>
            <div class="departure-date">
              <label for="departure-date">Departing on: </label>
              <input type="date" id="departureDate" />
            </div>
            <button
              onClick="document.getElementById('focus').scrollIntoView()"
              id="generate"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>

        <div class="destination">
          <h2 class="destination__title">Destination Information</h2>

          <div class="destination__results">
            <div class="destination__image">
              <img id="image" />
            </div>
            <div id="focus" class="destination__info">
              <div id="trip-days"></div>
              <div id="city-name"></div>
              <div id="high-temp"></div>
              <div id="low-temp"></div>
              <div id="description"></div>
              <img id="weather-icon" />
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
