$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px 1100/16
$bp-medium: 56.75em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 600px

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 65rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0; // removes colour at the top at 1200px
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 12rem;
  }
}

// keep
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-Grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // no flex, no grow, flex-basis to take up 60% of available space
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.planner {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;

  label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  input {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 9px;
    border: none;
    box-shadow: var(--shadow-light);
  }
}

.destination {
  &__title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__paragraph {
    font-size: 1.4rem;

    padding: 3rem;
    flex: 0 0 60%; // no flex, no grow, flex-basis to take up 60% of available space
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 3rem;
    }
  }

  &__results {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;

    display: flex;
  }

  &__image {
    flex-basis: 40%;
  }
}

#image {
  max-width: 100%;
  height: auto;
}
